/*Basics*/
body {
  font: 400 16px/1.5 Helvetica, sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:visited {
  color: #1756a9;
}

a:hover{
  color: #111;
  text-decoration: underline;
}
/*Header*/
#header{
  position:fixed;
  top: 0px;
  clear:both;
  width:100%;
  border-bottom: 1px solid black
}
/*Footer*/
#footer{
  position:fixed;
  bottom:0%;
  clear:both;
  width:100%;
  border-top: 1px solid black
}
/*Main content*/
.container {
  position:absolute;
  background-color: blue;
  margin-left: 10%;
  margin-right: 10%;
  float:left;
}
/*Posts*/
.post-list {
  margin-left: 0;
  float:left;
  list-style-type:none
}
.post-list > li{

    margin-bottom: 30px;
}
.post-meta {
  font-size: 14px;
  color:#808080;
}

.post-link {
  display:block;
  font-size:28px;
}

.post-title {

}
